<<<<<<< HEAD
/* header CSS */

header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
=======
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
>>>>>>> db7034ea28f49fde63ca13f56ddcfb5a59dfec1c
}
